body{
  background-color:black;
}
h1{
   font-style: italic;
   color:white;
   font-size:23;
   text-align: center;

 }

 .carousel{
   width=50px;
 }
.link{
   text-align:center;
   color: white;
}
